@charset "UTF-8";
/*   cascading style sheet for website   */
/*  ==========   body  ==========   */
#body{
    background-color: azure;
    margin: auto;
    max-width: 98%;
}

.bgeffct { 
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('/video/Hacking_Matrix_Code.mp4') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

/*  ==========   Header  ==========    */
#Header{
    align-self: flex-start;
    background-color: pink
}

/*  =====   Top_head    =====   */
.Top_head{
    float: none;
    text-align: center;
    margin: 0px;
}
/*  logo    */
img.logo{
    height: auto;
    margin: 1em auto auto auto;
    width: 15%;  
}

/*  =====   Nav_bar   =====   */
.Nav_bar{
    background-color: burlywood;  
    padding: 0.3em 0 0.4em 0;
    width: auto;     
}
.Nav_menu{
    display: inline-block;
}

.Nav_button{
    font-size: 1.5em;
    margin: 0 1em 0 0.5em;
    text-decoration: none;
}

/*  ======  Search_menu ===== */
.Search_menu{
    float: right;
}
.serach_button{
    font-size: 24px;
}
.Search_menu input[type=text]{ 
    width: 300px; 
    height: 35px; 
    border-radius: 25px; 
    border: none; 
    padding: 0 1em 0 1em;
}
/* unvisited link */
a:link { color: blue; }
/* visited link */
a:visited { color: green; }
/* mouse over link */
a:hover { color: red; }
/* selected link */
a:active { color: yellow; } 

/*  =====   fix the nav bar untill end =====    */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }  
  
/*      */

/*      */

/*      */

/*  =====   */

/*  ==========   Footer  ==========  */
#Footer{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 1em;
}
/*  =====   Footer_content   =====   */
.Footer_content{
    display: flex;
    flex-wrap: wrap;
    margin: auto auto 1em;
}
/*  =====   Explore =====   */
.Explore{ width: 50%; }
/*  =====   Projects    =====   */
.Projects{ width: 50%; }
/*  =====   */

/*  =====   Footer_legal   =====   */

/*  =====   Copyrights, Terms & Conditions  =====   */
.Copyrights{
    display: inline;} 
.Footer_legal{
    float: right;
}
.Terms{padding: 0.5em;}
.Support{padding: 0.5em;}






/*  =====   Heading & Sub_heading   */
.Sub_head{
    font-size: 20px;
}

/*  =====   */

/*  =====   */
@media only screen and (min-device-width: 600px){
.Nav_mobile, .Search_mobile{
    display: none;
}

}


/*  ===============   Mobile Responsive   ===============   */

@media only screen and (max-device-width: 600px){
    /*  ==========   body  ==========   */
    #body{
        max-width: auto;
    }
    /*  ==========   Header  ==========    */
    #Header{
        background-color: blueviolet;
    }
    /*  =====   Top_head    =====   */
    .Nav_mobile{
        display: inline; 
        position: fixed;
        top: 1em;
        left: 1em;
    }
    .fa-bars{
        font-size: 36px;
        color: red;
    }
    #Nav_mobile_menu{
        display: none;
    }
    #Nav_mobile_menu a{
        display: block;
        background-color: tomato;
        width: 89%;
    }
    .Search_mobile{ 
        position: fixed;
        top: 1em;
        right: 2em;
    }
    .fa-search{
        float: right;
        font-size: 36px;
        color: red;
    }
    .Search_mobile_menu input[type=text]{
        width: 500px;
        border-radius: 25px;
        border: 0 0 1px 0;
        all: initial;
    }
    #Search_mobile_menu{
        display: none;
    }
    #Search_mobile_menu a{
        background-color: rosybrown;
        width: 89%;
    }



    .Nav_menu, .Search_menu{
        display: none;
    }
    .Nav_bar{
        all: initial;
    }
   




}



